= simple_form_for @micropost, :html => { class: 'form-horizontal' } do |f|
  = f.input :content, as: :text
  .form-actions
    = f.submit nil, :class => 'btn btn-primary' 
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_url, :class => 'btn'
  